<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">
      Titre
    </label>
    <input id="title" type="text" formControlName="title" />
  </div>
  <div>
    <div>
      <label for="editor">
        Editeur
      </label>
      <input id="editor" type="text" formControlName="editor" />
    </div>
  </div>
  <div>
    <label for="nbTome">
      Nombre de tomes
    </label>
    <input id="nbTome" type="number" formControlName="nbTome" />
  </div>

  <button class="button" type="submit">Ajouter</button>
</form>